#inlogPaneelBG{
    -fx-background-image: url("../Images/BG.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

#inlogPaneel{
    -fx-background-image: url("../Images/AchtergrondVaardigheden.png");
    -fx-background-color: white;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

#inlognaamNummerLabel{
    -fx-font-size: 25;
    -fx-text-fill: lightslategrey;
}

#inlogGeenNaamIngevult{
    -fx-font-size: 16;
    -fx-prompt-text-fill: red;
}

#inlogTexfield{
    -fx-text-fill: dimgray; 
    -fx-font-size: 16;
    -fx-bordor-color: #d6d6d6;
}

#inlogButtons{
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-padding: 15 30 15 30;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-pref-width: 135;
    -fx-pref-height: 50;
}

#verkeersTechniekButtons{
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-padding: 15 30 15 30;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-pref-width: 135;
    -fx-pref-height: 50;
}

.list-cell{
    -fx-font-size: 20;
}
#verkeerstechniekLabel{
    -fx-font-size: 25;
    -fx-text-fill:white;
}

#hoofdPaneelBG{
    -fx-background-image: url("../Images/BG.png");
    /*-fx-background-color: dimgray;*/
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}
#contentBox{
    -fx-background-color: #696969;
    /*#262626*/
    -fx-background-radius: 10.0;
    -fx-padding: 3;
}

#naamLabel{
    -fx-font-size: 40;
    -fx-text-fill: #fcfcfc;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#opmerkingenPaneel{
    -fx-background-image: url("../Images/AchtergrondVaardigheden.png");
    -fx-background-color: white;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 20;
}

#opmerkingenTexfield{
    -fx-font-size: 25;
}

#attitudeListView{
    -fx-max-width: 300;
    -fx-max-height: 402;
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 5.0;
}

#attitudeListViewOpmerkingen{
    -fx-max-width: 800;
    -fx-max-height: 500;
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 5.0;
}

#attitudeListViewOpmerkingenPressed{
    .list-cell{
        -fx-max-width: 800;
        -fx-max-height: 500;
        -fx-text-fill: aquamarine;
    } 
}

#attitudeTextField{
    -fx-max-width: 350;
    -fx-min-height: 40;
    -fx-text-fill: dimgray; 
    -fx-font-size: 16;
    -fx-bordor-color: #d6d6d6;
    -fx-background-radius: 5.0;
}

#attitudeLabel{
    -fx-font-size: 50;
    -fx-text-fill: white;
}

#attitudeFout{
    -fx-font-size: 16;
    -fx-text-fill: red;
}

#rijTechniekHoofdschermBox{
    -fx-spacing: 5;
}

#rijTechniekHoofdschermPaneel{
    -fx-background-image: url("../Images/AchtergrondVaardigheden.png");
    -fx-background-radius: 5.0;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

#aandachtButtons{
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-padding: 15 30 15 30;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-pref-width: 40;
    -fx-pref-height: 40;
}

#buttons{
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-padding: 15 30 15 30;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-pref-width: 220;
    -fx-pref-height: 50;
}

#buttonKleurRood{
    -fx-background-color: red;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-padding: 15 30 15 30;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-pref-width: 220;
    -fx-pref-height: 50;
}

#buttonKleurOranje{
    -fx-background-color: orange;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-padding: 15 30 15 30;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-pref-width: 220;
    -fx-pref-height: 50;
}

#buttonKleurGroen{
    -fx-background-color: limegreen;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-padding: 15 30 15 30;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-pref-width: 220;
    -fx-pref-height: 50;
}

#verkeersRec{
    -fx-stroke: black;
    -fx-stroke-width: 2;
}
#verkeersRecROOD{
    -fx-fill: red;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}
#verkeersRecGROEN{
    -fx-fill: lime;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}
#verkeersRecORANJE{
    -fx-fill: orange;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}
