#inlogPaneelBG{
    -fx-background-image: url("../Images/BG.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

#inlogPaneel{
    -fx-background-color: white;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

#inlognaamNummerLabel{
    -fx-font-size: 25;
    -fx-text-fill: lightslategrey;
}

#inlogGeenNaamIngevult{
    -fx-font-size: 16;
    -fx-prompt-text-fill: red;
}

#inlogTexfield{
    -fx-text-fill: dimgray; 
    -fx-font-size: 16;
}

#inlogButtons{
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-size: 25;
    -fx-padding: 30 60 30 60;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.list-cell{
    -fx-font-size: 20;
}

#hoofdPaneelBG{
    -fx-background-image: url("../Images/BG.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

#naamLabel{
    -fx-font-size: 20;
    -fx-text-fill: #e6e6e6;
}

#opmerkingenLabel{
    -fx-font-size: 40;
    -fx-text-fill: lightslategrey;
}

#opmerkingenPaneel{
    -fx-background-color: white;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 20;
}

#opmerkingenTexfield{
    -fx-font-size: 25;
}

#attitudeListView{
     -fx-max-width: 300;
}

#attitudeTextField{
     -fx-max-width: 350;
     -fx-min-height: 40;
}


